.navbar {
    text-align: center;
    margin-bottom: 0;
    .app-name {
        display: inline-block;
        font-size: 1.4em;
        margin: 0;
        padding-top: 15px;
    }
}

#app {
    margin-top: 70px;

}

#user-list {
    list-style-type: none;
    margin-top: 25px;
}
.twitch-user {
    margin-top: 15px;
    .user-logo {
        max-width: 100px;
    }
}

.error {
    color: red;
}