.navbar {
    text-align: center;
    margin-bottom: 0;
    .app-name {
        display: inline-block;
        font-size: 1.4em;
        margin: 0;
        padding-top: 15px;
    }
}

#app {
    margin-top: 70px;

}

#user-list {
    list-style-type: none;
    margin-top: 25px;
}
.twitch-user {
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    .user-logo {
        max-width: 100px;
    }
}

.modal-body {
    .user-preview-modal {
        margin-top: 20px;
    }
}

.status {
    display:flex;
    align-items: center;
}

.streaming {
    color: green;
}
.not-streaming {
    color: red;
}

.error {
    color: red;
}